<!DOCTYPE html>
<html>
<body>

<p>Evil is Evil</p>

<p>Lesser great middling makes no differnece</p>

<p>The degree is arbitrary the definition is blurred. If I am to choose between one evil or another</p>

<p> I'd rather not choose at all </p>

<button onclick="document.getElementById('myImage').src='https://m.media-amazon.com/images/M/MV5BMWIzM2Y1OTYtOWZkYy00NmE3LWEyYjktY2RiY2MyMWFmNWNjXkEyXkFqcGdeQWFybm8@._V1_.jpg'">Turn off the light</button>

<img id="myImage" src="pic_bulboff.gif" style="width:100px">

<button onclick="document.getElementById('myImage').src='https://images.indianexpress.com/2021/04/the-witcher-season-2-1200.jpg'">Turn on the light</button>
<script>
    document.getElementById("paragraph1").innerHTML="hello, this is working now"
</script>
<form action='/logout?_method=DELETE', method="post">
    <div>
        <p>
            <button type="submit">Logout</button>
        </p>
    </div>
</form>
</body>
</html>
