.container{
    margin:0;
    padding: 0;
}
.col{
    padding: 0;
    /* background-color: rgb(41, 39, 39); */
}
.right{
    margin-top:20%;
    margin-left:40%;
}
.user{
    width: 80px;
    height:80px;
    margin-bottom:2rem;
    /* padding-left: 20px; */
}
.form-control{
    width:100%;
}