.login{
    display: flex;
    flex-direction: column;
}

.bg{
    width: 50%;
    height: 50%;
}

.right{
    right:0;
    display: block;
    background-color: rgb(75, 75, 75);
}
.user{
    /* margin-top: 20%; */
    width: 80px;
    height:80px;
    margin-bottom:2rem;
    /* padding-left: 20px; */
}


  Form{
      left: 75%;
  }

  .form-control{
      width: 130%;
  }